In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import gmplot

In [11]:
df = pd.read_csv('LAPDCrime.csv', error_bad_lines=False, parse_dates=True)

In [5]:
df.shape

(228017, 1)

In [12]:
df.head()

,Date Rptd,DR. NO,DATE OCC,TIME OCC,AREA,AREA NAME,RD,Crm Cd,Crm Cd Desc,Status,Status Desc,LOCATION,Cross Street,Location 1
0,12/02/2015 12:00:00 AM,150126705,12/02/2015 12:00:00 AM,150,1,Central,145,946,OTHER MISCELLANEOUS CRIME,IC,Invest Cont,400 S LOS ANGELES ST,NaN,"(34.0473, -118.2462)"
1,12/02/2015 12:00:00 AM,150126706,12/02/2015 12:00:00 AM,220,1,Central,145,330,BURGLARY FROM VEHICLE,IC,Invest Cont,LOS ANGELES,WINSTON,"(34.0467, -118.2470)"
2,12/02/2015 12:00:00 AM,150126763,12/02/2015 12:00:00 AM,1110,1,Central,162,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),IC,Invest Cont,700 W 7TH ST,NaN,"(34.0480, -118.2577)"
3,12/02/2015 12:00:00 AM,150126766,12/02/2015 12:00:00 AM,1600,1,Central,174,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),IC,Invest Cont,100 E 9TH ST,NaN,"(34.0416, -118.2550)"
4,12/02/2015 12:00:00 AM,150126772,12/02/2015 12:00:00 AM,1605,1,Central,111,626,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,IC,Invest Cont,800 N BUNKER HILL AV,NaN,"(34.0637, -118.2440)"

In [13]:
columns_to_keep = ['Date Rptd', 'TIME OCC', 'AREA NAME', 'Crm Cd Desc', 'Status Desc', 'LOCATION', 'Location 1']
df = df[columns_to_keep]
df = df.rename(columns={'Date Rptd':'Date', 'TIME OCC':'Time', 'AREA NAME':'Area', 'Crm Cd Desc':'Crime', 
                        'Status Desc':'Status', 'LOCATION':'Location', 'Location 1':'LatLong'})
df.head()

,Date,Time,Area,Crime,Status,Location,LatLong
0,12/02/2015 12:00:00 AM,150,Central,OTHER MISCELLANEOUS CRIME,Invest Cont,400 S LOS ANGELES ST,"(34.0473, -118.2462)"
1,12/02/2015 12:00:00 AM,220,Central,BURGLARY FROM VEHICLE,Invest Cont,LOS ANGELES,"(34.0467, -118.2470)"
2,12/02/2015 12:00:00 AM,1110,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,700 W 7TH ST,"(34.0480, -118.2577)"
3,12/02/2015 12:00:00 AM,1600,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,100 E 9TH ST,"(34.0416, -118.2550)"
4,12/02/2015 12:00:00 AM,1605,Central,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,Invest Cont,800 N BUNKER HILL AV,"(34.0637, -118.2440)"

In [15]:
df.Date = pd.to_datetime(df.Date)
df['Month'] = df.Date.apply(lambda x: x.month)

In [16]:
df.LatLong = df.LatLong.apply(lambda x: x[1:-1])
df.head()

,Date,Time,Area,Crime,Status,Location,LatLong,Month
0,2015-12-02,150,Central,OTHER MISCELLANEOUS CRIME,Invest Cont,400 S LOS ANGELES ST,"34.0473, -118.2462",12
1,2015-12-02,220,Central,BURGLARY FROM VEHICLE,Invest Cont,LOS ANGELES,"34.0467, -118.2470",12
2,2015-12-02,1110,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,700 W 7TH ST,"34.0480, -118.2577",12
3,2015-12-02,1600,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,100 E 9TH ST,"34.0416, -118.2550",12
4,2015-12-02,1605,Central,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,Invest Cont,800 N BUNKER HILL AV,"34.0637, -118.2440",12

In [17]:
df['Latitude'] = df.LatLong.apply(lambda x: float(x.split(',')[0]))
df['Longitude'] = df.LatLong.apply(lambda x: float(x.split(',')[1][1:]))
df.head()

,Date,Time,Area,Crime,Status,Location,LatLong,Month,Latitude,Longitude
0,2015-12-02,150,Central,OTHER MISCELLANEOUS CRIME,Invest Cont,400 S LOS ANGELES ST,"34.0473, -118.2462",12,34.0473,-118.2462
1,2015-12-02,220,Central,BURGLARY FROM VEHICLE,Invest Cont,LOS ANGELES,"34.0467, -118.2470",12,34.0467,-118.2470
2,2015-12-02,1110,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,700 W 7TH ST,"34.0480, -118.2577",12,34.0480,-118.2577
3,2015-12-02,1600,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,100 E 9TH ST,"34.0416, -118.2550",12,34.0416,-118.2550
4,2015-12-02,1605,Central,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,Invest Cont,800 N BUNKER HILL AV,"34.0637, -118.2440",12,34.0637,-118.2440

In [18]:
df['Weekday'] = df.Date.apply(lambda x: x.weekday())
df['Hour'] = df.Time.apply(lambda x: x // 100)
df.head()

,Date,Time,Area,Crime,Status,Location,LatLong,Month,Latitude,Longitude,Weekday,Hour
0,2015-12-02,150,Central,OTHER MISCELLANEOUS CRIME,Invest Cont,400 S LOS ANGELES ST,"34.0473, -118.2462",12,34.0473,-118.2462,2,1
1,2015-12-02,220,Central,BURGLARY FROM VEHICLE,Invest Cont,LOS ANGELES,"34.0467, -118.2470",12,34.0467,-118.2470,2,2
2,2015-12-02,1110,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,700 W 7TH ST,"34.0480, -118.2577",12,34.0480,-118.2577,2,11
3,2015-12-02,1600,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,100 E 9TH ST,"34.0416, -118.2550",12,34.0416,-118.2550,2,16
4,2015-12-02,1605,Central,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,Invest Cont,800 N BUNKER HILL AV,"34.0637, -118.2440",12,34.0637,-118.2440,2,16

In [19]:
df.Area.value_counts()

77th Street    15308
Southwest      14733
Pacific        12376
N Hollywood    12229
Southeast      11399
Van Nuys       11220
Mission        10906
Northeast      10831
Olympic        10790
Central        10750
West LA        10645
Devonshire     10594
Newton         10518
Hollywood      10477
Topanga        10154
Harbor          9816
Rampart         9735
Wilshire        9632
West Valley     9417
Hollenbeck      8564
Foothill        7923
dtype: int64

In [20]:
df = df[(df.Longitude !=0 ) & (df.Latitude !=0)]

In [21]:
crime_counts = df.Crime.value_counts()
crime_counts.to_csv('crimeLAcounts.csv')

In [22]:
df['Violent'] = df.Crime.str.contains('ASSAULT|HOMICIDE|BATTERY|CRUELTY|LYNCHING|MANSLAUGTER|RAPE|SHOTS')
df['Property'] = df.Crime.str.contains('BURGLARY|STOLEN|FRAUD|THEFT|EMBEZZLEMENT|PICKPOCKET|SNATCHING|SHOPLIFTING|VANDALISM')
df.head()

,Date,Time,Area,Crime,Status,Location,LatLong,Month,Latitude,Longitude,Weekday,Hour,Violent,Property
0,2015-12-02,150,Central,OTHER MISCELLANEOUS CRIME,Invest Cont,400 S LOS ANGELES ST,"34.0473, -118.2462",12,34.0473,-118.2462,2,1,False,False
1,2015-12-02,220,Central,BURGLARY FROM VEHICLE,Invest Cont,LOS ANGELES,"34.0467, -118.2470",12,34.0467,-118.2470,2,2,False,True
2,2015-12-02,1110,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,700 W 7TH ST,"34.0480, -118.2577",12,34.0480,-118.2577,2,11,False,True
3,2015-12-02,1600,Central,SHOPLIFTING - PETTY THEFT ($950 & UNDER),Invest Cont,100 E 9TH ST,"34.0416, -118.2550",12,34.0416,-118.2550,2,16,False,True
4,2015-12-02,1605,Central,SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT,Invest Cont,800 N BUNKER HILL AV,"34.0637, -118.2440",12,34.0637,-118.2440,2,16,True,False

In [23]:
violent_crimes = df[(df.Violent == True)]
LA = gmplot.GoogleMapPlotter(34.05, -118.25, 16)
LA.heatmap(violent_crimes.Latitude, violent_crimes.Longitude)
LA.draw('LAViolentCrimes.html')

In [24]:
property_crimes = df[df.Property == True]
LA.heatmap(property_crimes.Latitude, property_crimes.Longitude)
LA.draw('LAPropertyCrime.html')

In [25]:
def crime_pins(crimes):
    sub = df[df.Crime.isin(set(crimes))]
    if sub.shape[0] > 1000:
        pinsize = 40
    else:
        pinsize = 200
    LA = gmplot.GoogleMapPlotter(34.05, -118.25, 13)
    pin_lats = sub.Latitude
    pin_longs = sub.Longitude
    LA.scatter(pin_lats, pin_longs, '#3B0B39', size=pinsize, marker=False)
    LA.draw('crimePin.html')

In [26]:
crime_pins(['CRIMINAL HOMICIDE'])

In [29]:
def heat_region(region):
    sub = df[df.Area == region]
    LA = gmplot.GoogleMapPlotter(sub.Latitude.mean(), sub.Longitude.mean(), 17)
    LA.heatmap(sub.Latitude, sub.Longitude)
    LA.draw(region + 'Crime.html')

In [34]:
heat_region('Mission')